<form [formGroup]="selectForm">
  <mat-form-field appearance="outline">
    <mat-label>Choose fruits</mat-label>
    <mat-select
      #select
      formControlName="select"
      multiple
      panelClass="with-actions-panel"
      [value]="tempSelection"
      (selectionChange)="onTempChange($event)"
      disableRipple
      (click)="$event.stopPropagation()"
    >
      <mat-option *ngFor="let fruit of fruits" [value]="fruit">
        {{ fruit }}
      </mat-option>

      <mat-option
        class="actions-row no-checkbox"
        disableRipple
        (click)="$event.stopPropagation()"
      >
        <div class="actions">
          <button
            mat-button
            (click)="onCancel($event); $event.stopPropagation()"
          >
            Cancel
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="onApply($event); $event.stopPropagation()"
          >
            Apply
          </button>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<p>{{ selectForm.get('select').value }}</p>
